.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@include device-size(tablet) {
  .container {
    min-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@include device-size(desktop) {
  .container {
    min-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
