$mainColor: #000000;
$secondColor: #545454;
$accentColor: #ff6b08;
$footerBgc: #f7f7f7;
$additionalColor: #ffffff;
$transitionAnim: cubic-bezier(0.34, 0.04, 0.37, 0.73);
$transitionDuration: 250ms;
$shadowColor: rgba(0, 0, 0, 0.56);
$logoIconColor: #818181;
$errorMessageColor: #ff001b;
