@media screen and (min-width: 320px) {
  .footer__section {
    display: block;
    background-color: #f7f7f7;
  }

  .footer__text-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 29px;
    padding-bottom: 28px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
  }

  .footer__text {
    text-align: center;
  }

  .footer__text-first {
    margin-bottom: 10px;
  }

  .footer__link {
    text-decoration: underline;
    color: inherit;
  }

  .footer__icon-heart {
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
  }
  .footer__text-conteiner {
    display: flex;
    flex-direction: inherit;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .footer__text-first {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

// ===========TEAM===========

.team {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  z-index: 3;
  background-color: azure;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

  body.show-team & {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

// ========FOOTER-MODAL===========

.team__modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  padding: 40px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  background-color: khaki;
}

.team__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: #f7f7f7;
  border: none;
  background-color: #f7f7f7;
}

.team__eye {
  width: 30px;
  height: 30px;
}
