{{#each this}}
<li class="hero">
        <img class="hero__image" src="{{photo}}" alt="{{name}}">
        <div class="hero__info">
        <p class="hero__name">{{name}}</p>
        <p class="hero__position">{{position}}</p>
         </div>
</li>
{{/each}}