<footer class="footer__section">
  <div class="container">
    <div class="footer__text-conteiner">
      <div class="footer__text-first">
        <span class="footer__text">© 2021 | All Rights Reserved |&nbsp;</span>
      </div>
      <div class="footer__text-second">
        <span>Developed with</span>
        <svg width="14" height="13" class="footer__icon-heart">
          <use href="/images/svg/heart.svg#heart"></use>
        </svg>
        <span> by </span>
        <span> <a href="#" class="footer__link"> DREAM TEAM PROJECT</a></span>
      </div>
    </div>
  </div>
</footer>
