<footer class="footer__section">
    <div class="container">
        <div class="footer__text-conteiner">
            <div class="footer__text-first">
                <span class="footer__text">© 2021 | All Rights Reserved |&nbsp;</span>
            </div>
            <div class="footer__text-second">
            
                <span>Developed with</span> 
                <svg width="14" height="13" class="footer__icon-heart heart">
                    <use href="/images/svg/heart.svg#heart"></use>
                </svg>
                
                <span> by </span> 
                <span> <a href="#" class="footer__link js-footer__open-modal"> dream team</a></span> 
            </div>
        </div>    
                <!-- OUR TEAM --> 
                <div class="team js-team__backdrop">
                    <div class="team__modal">
                        <h2 class="team__title">DREAM TEAM</h2>
                        <ul class="team__herous"></ul> 
                        <button class="team__btn js-team__close-modal" type="button">
                            <svg class="team__eye">
                                <use href="/images/svg/close-eyes.svg#eye"></use>
                            
                            
                            </svg>
                        </button>
                        
                    </div>
                </div>
                
                

        
    </div>
</footer>