<!-- HEADER SECTION -->
<header class="header main-header-img">
  <div class="container">
    <nav class="header__site-nav">
      <!--logo-->

      <a href="./index.html" class="logo js-logo">
        <svg class="logo__icon">
          <use href="../src/images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <!-- logo end -->

      <ul class="header__nav_links">
        <li class="header__nav_list_item">
          <a href="./index.html" class="header__home_link js-home site-nav__link current">home</a>
        </li>
        <li class="header__nav_list_item">
          <a href="./index.html" class="header__lib_link js-lib site-nav__link">my library</a>
        </li>
      </ul>
    </nav>

    <form class="header__input_wrapper">
      <input type="text" name="input" class="header__input" placeholder="Search movies" />
      <button class="header__search_btn">
        <svg class="header__search-btn-icon">
          <use href="../src/images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="header__input_msg_error"></div>
    <div class="header__library_btm hidden">
      <button class="header__library_btm_item watched-btn" disabled>Watched</button>
      <button class="header__library_btm_item queue-btn">Queue</button>
    </div>
    <div class="theme-switch">   
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="../src/images/sprite.svg#sun"></use>
      </svg>
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
      <svg class="theme-switch__icon" role="img" aria-label="Иконка луны">
        <use href="../src/images/sprite.svg#moon"></use>
      </svg>
    </div>
  </div>
</header>

<!-- END HEADER SECTION -->
