
<div class="modal_backdrop ">
    <div class="modal_window">
      <button class="modal__button_close" type="button">
        <svg class="mobile_modal__button_close_simvol" width="20" height="20" >
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
        <img class="movie_modal_img" src="../src/images/gallery/temporary_for_modal.png" alt="covboy">
        <div class="modal_movie_description">
            <div class="modal-table">
            <table class="moda_table-list">
            <h2 class="movie_name">
                A FISTFUL OF LEAD
            </h2>
            <tr>
                <td class="modal-table_name">Vote / Votes</td>
                <td><span class="table_vote">7.3</span> / 1260</td>
            </tr>
            <tr>
                <td class="modal-table_name">Popularity</td>
                <td>100.2</td>
            </tr>
            <tr>
                <td class="modal-table_name">Original Title</td>
                <td>A FISTFUL OF LEAD</td>
            <tr>
                <td class="modal-table_name">Genre</td>
                <td>Western</td>
            </tr>
            </div>
            <p class="about">about</p>
            <P class="modal_description-filme">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</P>
            <div class="modal_buttnons">
                <button class="modal_btn modal_btn_wotched" type="button">add to Watched</button>
                <button class="modal_btn modal_btn_queue" type="button">add to queue</button>
            </div>
        </div>    
    </div>
</div>