<!-- LIBRARY HEADER SECTION -->
<header class="header__library">
    <div class="container">
        <nav class="header__navlib">
            <a href="./index.html" class="logo">
                <svg class="logo__icon">
                    <use href="../src/images/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="header__navlib_links">
                <li class="header__navlib_list_item"><a href="#" class="header__home_link">home</a></li>
                <li class="header__navlib_list_item"><a href="#" class="header__lib_link">my library</a></li>
            </ul>
        </nav>

        <div class="header__library_btm">
            <button class="header__library_btm_item">Watched</button>
            <button class="header__library_btm_item">queue</button>
        </div>
    </div>
</header>

<!-- END LIBRARY HEADER SECTION -->