// mobile
.header {
  background-color: $secondColor;
  height: 230px;
  color: $additionalColor;
  background-image: linear-gradient($shadowColor, $shadowColor),
    url('../images/hero/hero_mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  &__site-nav {
    display: flex;
    padding-top: 41px;
    justify-content: space-between;
  }

  &__nav_links {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    align-items: flex-end;
    display: flex;
    margin-left: -40px;
    margin-top: -18px;
  }

  &__nav_list_item {
    margin-left: 40px;
    margin-top: 18px;
  }

  &__input_wrapper {
    margin-top: 40px;
    text-align: center;
  }

  &__input {
    width: 275px;
    height: 20px;
    padding-right: 25px;
    color: $additionalColor;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 0.5px;
    border-color: $additionalColor;
  }

  &__input::placeholder {
    color: $additionalColor;
    font-weight: 400;
    font-size: 14px;
  }

  &__search_btn {
    margin-left: -25px;
    height: 25px;
    width: 25px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  &__search-btn-icon {
    width: 12px;
    height: 12px;
    fill: $additionalColor;
    transition: fill $transitionDuration $transitionAnim;
  }

  &__search-btn-icon:hover,
  &__search_btn:focus &__search-btn-icon {
    fill: $accentColor;
    transition: fill $transitionDuration $transitionAnim;
  }

  &__input_msg_error {
    font-size: 14px;
    font-weight: 400;
    color: $errorMessageColor;
    text-align: center;
    margin-top: 22px;
  }
}

.logo {
  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: none;
  }

  &__icon {
    fill: $logoIconColor;
  }
}

.site-nav__link {
  position: relative;
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

.site-nav__link::after {
  opacity: 0;
  content: '';
  transition: opacity $transitionDuration $transitionAnim;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: $accentColor;
  margin-top: 15px;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .header {
    background-image: linear-gradient($shadowColor, $shadowColor),
      url('../images/hero/hero_mobile@2x.jpg');
  }
}

// tablet
@media (min-width: 768px) {
  .header {
    background-image: linear-gradient($shadowColor, $shadowColor),
      url('../images/hero/hero_tablet@1x.jpg');

    &__input {
      width: 336px;
    }
  }
  .logo__text {
    display: contents;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient($shadowColor, $shadowColor),
      url('../images/hero/hero_tablet@2x.jpg');
  }
}

// desktop
@media (min-width: 1024px) {
  .header {
    background-image: linear-gradient($shadowColor, $shadowColor),
      url('../images/hero/hero_desktop@1x.jpg');
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024px),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .header {
    background-image: linear-gradient($shadowColor, $shadowColor),
      url('../images/hero/hero_desktop@2x.jpg');
  }
}
