.main__warning {
  text-align: center;
  padding-top: 60px;
  font-style: italic;
  font-size: 30px;

  &-text {
    margin-bottom: 30px;
  }
  &-img {
    margin: 0 auto;
    border-radius: 50%;
  }
}
.gallery {
  display: grid;
  width: 280px;
  min-height: 300px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 443px;
  grid-gap: 20px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.gallery__item:hover {
  box-shadow: 0px 5px 10px 5px rgba(255, 107, 8, 0.2);
}

.gallery__img {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  cursor: zoom-in;

  opacity: 0;
  transform: scale(0.7);
  transition: all 1000ms linear 500ms;
}

.gallery__img.appear {
  transform: scale(1);
  opacity: 1;
}

.gallery__img-error {
  width: 280px;
  height: 402px;
  padding: 50px;
  color: $secondColor;
  background-color: rgb(250, 250, 244);
  border-radius: 5px;

  text-align: center;

  font-size: 28px;
  line-height: 1.8;
}

.gallery__description {
  margin-top: 10px;
}

.gallery__title {
  color: $mainColor;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
}

.gallery__description-text {
  display: flex;

  color: $accentColor;
  font-size: 12px;
  line-height: 1.33;
}

.gallery__description-list {
  display: flex;

  .gallery__description-item:not(:first-child):before {
    content: ', ';
  }
}

.gallery__description-vote {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 36px;
  height: 16px;

  font-size: 12px;
  line-height: 1.17;
  color: $additionalColor;
  background: $accentColor;
  border-radius: 5px;
}

@include device-size(tablet) {
  .gallery {
    width: 618px;
    grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
    grid-auto-rows: 440px;
    grid-gap: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .gallery__img,
  .gallery__img-error {
    width: 294px;
  }
}

@include device-size(desktop) {
  .gallery {
    width: 882px;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  }

  .gallery__img,
  .gallery__img-error {
    width: 274px;
  }

  .gallery__title {
    line-height: 1.33;
  }
}
