.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity $transitionDuration $transitionAnim,
    visibility $transitionDuration $transitionAnim;
  z-index: 3;

  transition: all $transitionDuration linear $transitionDuration;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transform: scale(1);
    transition: opacity 500ms $transitionAnim, visibility 500ms $transitionAnim;
  }
}

.modal_window {
  background-color: $additionalColor;
  position: absolute;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  box-sizing: border-box;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    padding: 48px 20px 40px;
    height: 100%;
    overflow: scroll;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;
    padding: 42px 20px 30px;
    flex-direction: row;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    width: 882px;
    padding: 50px 30px 40px;
  }
}

.movie_modal_img {
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform $transitionDuration $transitionAnim;

  &:hover {
    transform: scale(1.03);
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 240px;
    max-height: 356px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 264px;
    max-height: 374px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 396px;
    max-height: 480px;
  }
}

.movie_modal_img-error {
  min-width: 240px;
  max-height: 356px;
  margin-bottom: 30px;
  padding: 45px;
  color: $secondColor;
  background-color: rgb(250, 250, 244);

  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.8;

  transition: transform $transitionDuration $transitionAnim;

  &:hover {
    transform: scale(1.03);
  }
}

.modal__button_close {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1);
  background: transparent;
}
.mobile_modal__button_close_simvol {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  stroke: $mainColor;

  &:hover,
  &:focus {
    fill: $accentColor;
    stroke: $accentColor;
    cursor: pointer;
  }
}

.modal-markup {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.scroll {
  display: flex;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
  }
}

.modal-table {
  width: auto;
  height: auto;
}
