table {
  border-collapse: collapse;
  display: flex;
}
table th,
table td {
  padding: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.movie_name {
  text-transform: uppercase;
  width: auto;
  margin-bottom: 20px;
  font-weight: 500;
  display: contents;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    height: 21px;
    font-size: 20px;
    line-height: 23px;
  }
  @media screen and (min-width: 1024px) {
    height: 31px;
    line-height: 35px;
  }
}
.moda_table-list {
  margin-bottom: 20px;
}
.modal-table_name {
  color: #8c8c8c;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding-right: 40px;
  }
  @media screen and (min-width: 1024px) {
    padding-right: 85px;
  }
}
.table_vote {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $accentColor;
  color: $additionalColor;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}
.about {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal_movie_description {
  margin-left: 30px;
  width: auto;
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}
.modal_description-filme {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.modal_buttnons {
  display: inline-flex;
  margin-left: auto;
  cursor: pointer;
}
.modal_btn {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  height: 44px;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $mainColor;
  background-color: inherit;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 112px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 146px;
  }

  &:hover,
  &:focus {
    transition: color $transitionDuration $transitionAnim,
      border $transitionDuration $transitionAnim,
      background-color $transitionDuration $transitionAnim;
    cursor: pointer;
    background-color: $accentColor;
    color: $additionalColor;
    border: none;
  }
}
.modal_btn:first-child {
  margin-right: 15px;
}
.no_description {
  padding: 20px;
}
